<article class="row">

	<div class="col-lg-8 offset-lg-2">

		<div class="card card-inverse" id="cardblock">
			<div class="card-block">
				<h3 class="card-title">Microbank</h3>
				<p class="card-text">Query your balance, deposit and widthraw cash.</p>
				<a id="helpline" href="#" class="btn btn-primary"> HELPLINE</a>
			</div>
		</div>

	</div>


</article>

<!-- MENU SECTION -->

<article id="pad_menu_section" class="row">

	<div class="col-lg-8 offset-lg-2">
		<div class="row">

			<!-- BALANCE -->
			<div class="col col-lg-4">

           <a href="#balance">
			<div class="card menu_cards">
					<div class="card-block">
						<i class="fa fa-money" aria-hidden="true"></i> BALANCE
					</div>
				</div>
			</a>

			</div>

			<!-- DEPOSIT -->
			<div class="col col-lg-4">

        <a href="#deposit">
				<div class="card menu_cards">
					<div class="card-block">
						<i class="fa fa-cloud-upload" aria-hidden="true"></i> DEPOSIT
					</div>
				</div>
				</a>

			</div>

			<!-- WITHDRAW -->
			<div class="col col-lg-4">

				<a href="#withdraw">
				<div class="card menu_cards">
					<div class="card-block">
						<i class="fa fa-cloud-download" aria-hidden="true"></i> WITHDRAW
					</div>
				</div>
			</a>

			</div>

		</div>
	</div>
</article>
